body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeueMetanaNextOutline-Black_f;
    src: url(fonts/neueMetanaNext/NeueMetanaNextOutline-Black.otf);
}

@font-face {
    font-family: NeueMetanaNext-SemiBold_f;
    src: url(fonts/neueMetanaNext/NeueMetanaNext-SemiBold.otf);
}

@font-face {
    font-family: Plein-Regular_f;
    src: url(fonts/plein/Plein-Regular.otf);
}

/* -----intro----- */

.intro {
    position: relative;

    height: 100vh;
}

.layers {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    position: relative;
}

.layer {
    width: 100%;
    height: 100%;
    z-index: 2;

    position: absolute;

    background-size: cover;
    background-position: center;

    will-change: transform;
}

/* layers that make parallax effect */

.layers__fon {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}

.layers__mid {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__low {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.title_container {
    display: block;
    position: relative;
    top: -5vh;
    z-index: 1;

    animation: gettingDown 1.6s forwards;
}

@keyframes gettingDown {
    from {
     top: -15vh;
    }

    to {
        top: -4vh;
    }
}

.title {
    font-family: NeueMetanaNextOutline-Black_f;
    color: #efe9db;
    font-size: 7vw;
    margin-bottom: 2vh;
}

.subtitle {
    font-family: NeueMetanaNext-SemiBold_f;
    font-size: 4vw;
    color: #fff;
}

/* -----section----- */

.section {
    display: flex;
    min-height: 80vh;
    overflow: hidden;
    
    position: relative;
    
    background-color: #111318;
}

.line_animation {
    display: flex;
    
    position: absolute;
    top: -25vh;
    right: 20vw;

    width: 3px;
    height: 0;

    background-color: #efe9db;
}

@keyframes line {
    0% {
        height: 0;
    }

    100% {
        height: 125%;
    }
}

.content {
    width: 55vw;
    padding: 20vh 0 15vh 10vw;
}

.section_title {
    width: 30vw;
    
    position: relative;
    left: -8vw;

    font-size: 4vw;
    line-height: 1.5;
    font-family: NeueMetanaNext-SemiBold_f;
    color: #ff740f;
}

@keyframes titleSmooth {
    0% {
    left: -8vw;
    }

    100% {
    left: 0;
    }
}

.section_paraph {
    width: 45vw;

    position: relative;
    left: -8vw;

    font-size: 2.3vw;
    font-family: Plein-Regular_f;
    color: #f0f0f0;
}

@keyframes paraphSmooth {
    0% {
        left: -8vw;
    }

    28% {
        left: -8vw;
    }

        100% {
            left: 0;
        }
}


.section_paraph a {
    color: #ff740f;
    transition: color 0.6s;
}

.section_paraph a:hover {
    color: #f3c3a1;
}



/* -----adaptation----- */

@media (min-width:768px) and (max-width: 1350px) {

.title_container {
    position: relative;
    z-index: 1;
    top: -15vh;

    animation: gettingDown 1.6s forwards;
}

@keyframes gettingDown {
    0% {
        top: -15vh;
    }
    
    100% {
        top: -1vh;
    }
}

}

/* -----mobile-version----- */

@media (max-width: 768px) {

    .title_container {
            position: relative;
            top: 0.5vh;
            z-index: 1;
    
            animation: gettingDown 1.6s;
            will-change: animation;
        }
    
        @keyframes gettingDown {
            0% {
                top: -15vh;
            }
    
            100% {
                top: 0.5vh;
            }
        }

    .title {
        font-family: NeueMetanaNextOutline-Black_f;
        color: #efe9db;
        font-size: 10vw;
        margin-bottom: 7px;
    }

        .section {
            display: block;
            min-height: 60vh;
            overflow: hidden;
    
            position: relative;
    
            background-color: #111318;
        }
    
        .line_animation {
            display: flex;
    
            position: absolute;
            top: 35vh;
            left: 0;
    
            width: 0;
            height: 4px;
    
            background-color: #efe9db;
        }
    
        @keyframes line {
            0% {
                width: 0;
            }
    
            100% {
                width: 100%;
            }
        }
    
        .content {
            width: 100vw;
            display: block;
            text-align: center;
            padding: 0;

            position: relative;
            top: 14vh;
        }
    
        .section_title {
            width: 55vw;
            margin: 0;
            
            position: relative;
            left: 0;
    
            font-size: 6vw;
            line-height: 1.5;
            font-family: NeueMetanaNext-SemiBold_f;
            color: #ff740f;
        }
    
        @keyframes titleSmooth {
            0% {
            left: 2vw;
            }
    
            100% {
            left: 23vw;
            }
        }
    
        .section_paraph {
            width: 65vw;
            margin-top: 3vh;

            position: relative;
            left: 0;

            font-size: 4.3vw;
            font-family: Plein-Regular_f;
            color: #f0f0f0;
        }
    
        @keyframes paraphSmooth {
            0% {
                left: 2vw;
            }
    
            28% {
                left: 2vw;
            }
    
            100% {
                left: 18vw;
            }
        }
    
    
        .section_paraph a {
            color: #ff740f;
            transition: color 0.6s;
        }
    
        .section_paraph a:hover {
            color: #f3c3a1;
        }
}
